<div class="container" th:fragment="commentForm">
    <h1 class="mt-5">Add Comment</h1>

    <div class="col-4">
        <form action="#" th:action="@{/post/{uuid}/addComment(uuid=${post.uuid})}" th:object="${commentForm}" method="POST">
            <br/>
            <div class="form-group">
                <label>Text area</label>
                <input type="text" th:field="*{textArea}" class="form-control" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>