<div class="container" th:fragment="postForm">
    <h1 class="mt-5">New Post</h1>

    <div class="col-4">
        <form action="#" th:action="@{/savePost}" th:object="${postForm}" method="POST">
            <div class="form-group">
                <label>Author</label>
                <input type="text" th:field="*{author}" class="form-control" required autofocus="autofocus">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" th:field="*{title}" class="form-control" required autofocus="autofocus">
            </div>
            <div class="form-group">
                <label>Text area</label>
                <input type="text" th:field="*{textArea}" class="form-control" required autofocus="autofocus">
            </div>
            <button type="submit" class="btn btn-primary">Save Post</button>
        </form>
    </div>
</div>