<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">

<div th:replace="fragments/head.html :: template"></div>

<body class="d-flex flex-column h-100">

<div th:replace="fragments/header.html :: header"></div>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <!-- TUTU -->
        <h1 class="mt-5">Posts list</h1>

        <div th:replace="fragments/createPostBtn.html :: createPostBtn"></div>

        <ul class="list-group">
            <li th:each="post : ${posts}" class="list-group-item">
                <div th:replace="fragments/posts.html :: template(posts=${posts})"></div>
            </li>
        </ul>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>