<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">

<div th:replace="fragments/head.html :: template"></div>

<body class="d-flex flex-column h-100">

<div th:replace="fragments/header.html :: header"></div>

<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Posts list</h1>

        <a th:href="@{'createPost'}">
            <button type="submit" class="btn btn-primary">Create New Post</button>
        </a>

        <ul class="list-group">
            <li th:each="post : ${posts}" class="list-group-item">
                <p th:text="${post.author}"></p>
                <p th:text="${post.title}"></p>
                <a th:href="@{'/post/' + ${post.uuid}}">more</a>
            </li>
        </ul>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>