<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">

<div th:replace="fragments/head.html :: template"></div>

<body class="d-flex flex-column h-100">

<div th:replace="fragments/header.html :: header"></div>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <!-- TUTU -->
        <div th:replace="fragments/post.html :: post"></div>
        <br/>
        <br/>
        <div th:replace="fragments/commentForm.html :: commentForm"></div>
        <br/>
        <br/>
        <ul class="list-group">
            <li th:each="comment : ${post.comments}" class="list-group-item">
                <div th:replace="fragments/comment.html :: template(comment = ${comment})"></div>
            </li>
        </ul>

    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>